In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sts
import scipy
import math
import itertools
from scipy.special import zeta
from math import pi, sin, cos, sqrt, exp

In [ ]:
df = pd.read_table('IB_statistics_data_HW2.1.txt',sep='\s+', engine='python')

In [ ]:
df

,ex3y,ex3x_1,ex3x_2,ex3x_3,ex5y,ex5x_1,ex5x_2,ex5x_3,ex5x_4
0,5.686687,0.076472,1.200916,3,22.270130,10.397208,10.061471,0.075375,2
1,16.451772,0.983124,0.922869,6,8.087034,2.079442,1.988200,-0.220711,0
2,5.824362,0.752545,0.898528,3,22.634924,2.772589,8.774857,0.280573,0
3,14.067604,0.238592,0.294894,5,12.637142,9.704061,5.756337,0.359584,3
4,2.554745,-0.944660,3.592558,4,21.364182,2.079442,6.482219,-0.198828,0
...,...,...,...,...,...,...,...,...,...
214,10.647614,-0.045707,0.079060,4,-8.396697,6.238325,4.972957,2.461930,0
215,-0.476415,-0.271528,0.976677,1,18.110116,2.079442,2.627524,-0.528996,2
216,-0.711338,-0.774985,2.483155,2,-15.508103,0.693147,-5.741455,1.444721,2
217,17.530302,0.930487,0.530371,6,42.034463,1.386294,9.944634,0.045790,3
218,1.426018,0.087720,0.435274,2,3.376900,2.772589,-1.342378,-0.226465,2

In [ ]:
alpha = 0.05

#### Задача 4.a.

In [ ]:
X = df.loc[:, 'ex3x_1':'ex3x_3'].to_numpy()
y = df['ex3y'].to_numpy()
beta = np.linalg.inv(X.T @ X) @ X.T @ y
eps = (y - X @ beta) ** 2
k = len(y) - len(X.T) - 1
sigma = sum(eps) / k
print(f'Оценка для параметра beta равна', beta, '\nОценка для параметра sigma^2 равна', sigma)

Оценка для параметра beta равна [ 0.08372155 -2.31143025  2.8191063 ]
Оценка для параметра sigma^2 равна 3.605097075134645

#### Задача 4.b.

In [ ]:
V = sigma * np.linalg.inv(X.T @ X)
T = beta[0] / sqrt(V[0][0])
t = sts.t.ppf(q=1-alpha/2, df=k, loc=0, scale=1)
print('Статистика критерия равна', T)
print('Доверительный интервал для T равен (', -t, ',', t, ')')
if (-t <= T and T <= t):
    print(f'Нет оснований отклонить H_0 в пользу H_1 с уровнем значимости {alpha}')
else:
    print(f'Есть основания отклонить H_0 в пользу H_1 с уровнем значимости {alpha}')
print('Значение p-value равно', 1 - sts.t.cdf(x=T, df=k, loc=0, scale=1))

Статистика критерия равна 0.636547129637626
Доверительный интервал для T равен ( -1.9710591221320442 , 1.9710591221320442 )
Нет оснований отклонить H_0 в пользу H_1 с уровнем значимости 0.05
Значение p-value равно 0.26254849390826296

#### Задача 4.с.

In [ ]:
chi_l = sts.chi2.ppf(q=alpha/2, df=k, loc=0, scale=1)
chi_r = sts.chi2.ppf(q=1 - alpha/2, df=k, loc=0, scale=1)
T = k * sigma / 2
print('Статистика критерия равна', T)
print('Доверительный интервал для T равен (', chi_l, ',', chi_r, ')')
if (T >= chi_l):
    print(f'Нет оснований отклонить H_0 в пользу H_1 с уровнем значимости {alpha}')
else:
    print(f'Есть основания отклонить H_0 в пользу H_1 с уровнем значимости {alpha}')
print('Значение p-value равно', 1 - sts.chi2.cdf(x=T, df=k, loc=0, scale=1))

Статистика критерия равна 387.54793557697434
Доверительный интервал для T равен ( 176.28346536170363 , 257.5026040083355 )
Нет оснований отклонить H_0 в пользу H_1 с уровнем значимости 0.05
Значение p-value равно 5.118905299639209e-12

#### Задача 4.d.

In [ ]:
p = len(X.T)
eps2 = (X @ beta - np.mean(y)) ** 2
sigma2 = sum(eps2) / p
F = sigma2 / sigma 
f = sts.f.ppf(q=alpha, dfn=p, dfd=k, loc=0, scale=1)
print('Статистика критерия равна', F)
if (F < f):
    print(f'Нет оснований отклонить H_0 в пользу H_1 с уровнем значимости {alpha}')
else:
    print(f'Есть основания отклонить H_0 в пользу H_1 с уровнем значимости {alpha}')
print('Значение p-value равно', sts.f.cdf(x=F, dfn=p, dfd=k, loc=0, scale=1))

Статистика критерия равна 521.641503158563
Есть основания отклонить H_0 в пользу H_1 с уровнем значимости 0.05
Значение p-value равно 0.9999999999999999

#### Задача 5.с.

In [ ]:
A = np.array([[1, 2, 2, 2], [2, 1, 1, 2]])
b = np.array([0, 1])
X = df.loc[:, 'ex5x_1':'ex5x_4'].to_numpy()
y = df['ex5y'].to_numpy()
beta = np.linalg.inv(X.T @ X) @ X.T @ y
D = A @ np.linalg.inv(X.T @ X) @ A.T
betab = beta - np.linalg.inv(X.T @ X) @ A.T @ np.linalg.inv(D) @ (A @ beta - b)
print('Оценка для параметра betab равна', betab)
print('Произведение A * betab равно', A @ betab, ', что удовлетворяет ограничению A * betab = b =', b)

Оценка для параметра betab равна [-1.97962317  2.94784562 -5.92746878  3.96943475]
Произведение A * betab равно [1.77635684e-15 1.00000000e+00] , что удовлетворяет ограничению A * betab = b = [0 1]